<section class="nav p-2">

<div class="container">
 <!-- start header -->
  <header class="">
<div class="container w-100 h-100 d-flex flex-column justify-content-center ">

  <div class="row h-100">
    <div class="col-md-6 col-12 ">
      <div class="d-flex gap-4  header-content">

        <div class="d-flex align-items-center gap-2">

          <i class="pi pi-phone"></i>
          <span class="tim">+1 420-240-6000</span>
        </div>
        <div  class="d-flex align-items-center gap-2">
          <i class="pi pi-clock"></i>
          <span class="tim">6am - 11pm</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 ">
      <div class="header-content d-flex gap-3 w-100 justify-content-end">

         <ul class="social-list d-flex gap-3">
      <li> <a><i class="pi pi-facebook"></i></a></li>
      <li> <a ><i class="pi pi-twitter"></i></a></li>
      <li><a ><i class="pi pi-instagram"></i></a></li>
      <li><a ><i class="pi pi-youtube"></i></a></li>
      <li><a><i class="pi pi-linkedin"></i></a></li>
    </ul>

<a class="cartPipe ms-2">

  <i class="pi pi-shopping-cart ms-3"></i>
</a>


<a class="cartPipe ms-1">

  <i class="pi pi-search ms-3"></i>
</a>


      </div>
    </div>
  </div>
  <hr class="m-0 text-secondary">
</div>
  </header>
  <!-- end header -->
   <!-- start navbar -->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" >
      <img src="/assets/imgs/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  w-100 d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-white active text-uppercase" aria-current="page" >Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            tours
          </a>
          <ul class="dropdown-menu  mt-3" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >Search Tours</a></li>
            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" >Single Tour</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Hot Deals</a></li>
            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" >Layouts</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            booking
          </a>
          <ul class="dropdown-menu menu2 mt-3" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >Date</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Date & time</a></li>
            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" >No date</a></li>
                        <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Prices by Periods</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Optional service</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Adult & Kids</a></li>
                        <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" >Other</a></li>

          </ul>
        </li>
  <li class="nav-item">
          <a class="nav-link text-uppercase" >pages</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-uppercase" >shop</a>
        </li>
  <li class="nav-item">
          <a class="nav-link text-uppercase" >blog</a>
        </li>

      </ul>

    </div>

</nav>
</div>
   <!-- end navbar -->
</div>
</section>
