.icon{

  .pi{
      background-color: var(--blue-color);
          border: 3px dotted white;
    font-size: 25px;
    color: white;
width: 60px;
height: 60px;
  }
}
.para{
  font-size: 14px;
  margin-top: 12px;
}
